**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.venv/
venv/
.env
**/models/llm/**
**/models/vlm/**
**/models/speech/**
**/models/omni/**
**/.vscode
**/.idea
**/.gradio
**/.cache
**/.pytest_cache
**/__pycache__