**/__pycache__
*/__pycache__
*/__pycache__/*
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
.venv/*
*/venv
venv/*
/llm
.env
SiLLM
SiLLM/*
*/SiLLM
src/inference_engine/llm
**/llm/*
src/speech_engine/models
**/models/*