asyncio
redis
asyncio-redis
pytest-asyncio
openai
torch
torchvision
torchaudio
SpeechRecognition
gtts
langchain
ollama
langchain-groq
langchain-ollama
psycopg2-binary
dspy-ai
ultralytics
pytesseract
openai-whisper
setuptools-rust
pyaudio
pydub
keyboard
simpleaudio
silero
Pillow
transformers
librosa
soundfile
vector-quantize-pytorch
vocos
#decord
#moviepy
