asyncio
pytest-asyncio
openai
torch
torchvision
torchaudio
SpeechRecognition
gtts
langchain
ollama
langchain-groq
langchain-ollama
psycopg2-binary
dspy-ai
ultralytics
pytesseract
aioredis
openai-whisper
setuptools-rust
pyaudio
pydub
keyboard
simpleaudio
silero